<section>
  <!-- <div class="bg-form"> -->
  <div class="offcanvas offcanvas-start " id="demo">
    <div class="offcanvas-header">

      <h1 class="offcanvas-title text-dark"> Components </h1>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body d-block">

      <p routerLink="employee"> EMPLOYEE </p>
      <p routerLink="/staff"> STAFF FORM </p>
      <p routerLink="/billing"> BILLING FORM </p>
      <p routerLink="/company"> COMPANY FORM </p>

      <button class="btn btn-secondary" type="button"> A Button </button>

    </div>
  </div>7

  <div class="container-fluid">
    <!-- <h3>Responsive Offcanvas Menu</h3> -->
    <div class="btn-div">
      <button class="btn btn-warning mt-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
        Open Sidebar Reactive Forms
      </button>
    </div>
  </div>
  <!-- </div> -->
</section>
